body {
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 50%;
}

#inputField {
  width: 300px;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  outline: none;
}

#buttonClick {
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #0c9c0d linear-gradient(#82d18d, #80df80);
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  margin-top: 10px;
  cursor: pointer;
}